[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/haitaobz
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/haitaobz
	label-Verified = -1..+1 group user/haitaobz
	push = group user/haitaobz
	read = group user/haitaobz
	rebase = group user/haitaobz
	removeReviewer = group user/haitaobz
	submit = group user/haitaobz
[access "refs/heads/*"]
	create = group user/haitaobz
	push = +force group user/haitaobz
	pushMerge = group user/haitaobz
	read = group user/haitaobz
[access "refs/tags/*"]
	push = group user/haitaobz
	push = +force group user/haitaobz
